<head>
    <title>{{ page_title }}</title>
    {{ content_for_header }}
</head>
<body style="display: flex;">
    <main>
        {{ content_for_layout }}
    </main>
    {% section 'sidebar' %}
    {% if template contains 'product' %}
        {% section 'product-recommendations' %}
    {% endif %}
    <script src="{{ 'shopify-money.js' | asset_url }}"></script>
</body>